.chart{
    height: 100%;
    box-sizing: border-box;
    background-color: rgb(49, 49, 49);
    flex-grow: 1;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
@media screen and (max-width: 480px) {
    .chart{
        width: 95%;
    }
  }