.spinner{
    border: 4px solid rgba(255, 255, 255, 0.075);
    border-top: 4px solid crimson;
    animation: spin 1s linear infinite;
    border-radius: 50%;
}
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }